{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}贝壳Online{% endblock %}
{% block page_content %}
<div class="table-responsive">
   <table class="table" style="word-break:break-all; word-wrap:break-all;">
      <caption>你的全部成绩</caption>
      <thead>
         <tr>
            <th>课程</th>
            <th>学分</th>
            <th>成绩</th>
         </tr>
      </thead>
      <tbody>
         {% for i in range(lenth) %}
         <tr>
            <td style="width:100px;">{{ grade[i][2] }}</td>
            <td>{{ grade[i][5] }}</td>
            <td>{{ grade[i][7] }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% endblock %}
